[submodule "datasets/fashion-mnist"]
	path = datasets/fashion-mnist
	url = https://github.com/zalandoresearch/fashion-mnist
[submodule "tfbook"]
	path = tfbook
	url = https://github.com/lmoroney/tfbook.git
